<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="game" href="/tabs/game">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Game</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="score" href="/tabs/score">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Scores</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  <!-- The ion-router-outlet will load the tab components based on the current route -->
  <ion-router-outlet></ion-router-outlet>
</ion-tabs>
